


 body
 {background-image:url(fotofundo.jpeg);
background-repeat: no-repeat;
background-size: 100%;
background-attachment: fixed;
background-position: center center ;
background-size: cover;
} 

li {color: lightgrey;}

     h1 {text-align: center;
        font-size: 55px; 
        color: black;
        font-family: cursive;
     }

     a {color: rgba(0, 0, 0, 0.459);}
 
      button {color: orangered;}
           
     { <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2993.087789623679!2d-8.766056584329304!3d41.39389980355395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2447fb7028b5b5%3A0x3ce4b2690a941adc!2sComunidade%20Crist%C3%A3%20%C3%81gape!5e0!3m2!1spt-PT!2spt!4v1662834705907!5m2!1spt-PT!2spt" width="600" height="450" style="border:1500;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
     infrme src="canto superior direito "
   
   }
